body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

nav a:active{
    color: #088c19;
}

footer{
    text-align: center;
    background: url(img/bg.jpg);
    padding: 40px;
}

.copyright{
    color: #ffffff;
    font-size: 13px;
    margin: 20px;
}

main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 5px 15px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

select{
    width: 80px;
}

.enviar{
    width: 30%;
    padding: 15px 0;
    background-color: orange;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background-color: darkorange;
    transform: rotate(0.5deg) scale(1.2);
}

table{
    margin: 20px 0 40px;
}

thead{
    background: rgb(58, 58, 58);
    color: white;
    font-size: 18px;
    font-weight: bold;
}

th, td{
    border: 1px solid #000000;
    padding: 8px 15px;
}

@media screen and (max-width: 480px){

    header{
        background: #BBBBBB;
        background-size: 100%;
        padding: 20px 0;
    }

    h1{
        text-align: center;
    }

    nav{
        position: static;
    }

    fieldset{
        padding: 20px;
    }

    .form, label, .input-padrao, .caixa, main{
        width: auto;
    }

    .checkbox{
        margin: 20px 20px;
        width: auto;
    }

    legend{
        display: inline;
        font-size: 20px;
        margin: 0 0 10px;
    }

    .enviar{
        width: 280px;
    }

}