header{
    background: url(img/barbershopmed.jpg);
    background-size: 100%;
    padding: 20px 0;
}

.caixa-header{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

main{
    background: #cccccc;
    padding: 30px;
}

.caixa-main{
    background-color: #ffffff;
    width: 800px;
    position: relative;
    margin: 80px auto;
}

.caixa-main img{
    width: 400px;
    margin: -10px 20px 20px -10px;
}

.titulo-principal{
    position: absolute;
    top: 32px;
    right: 40px;
    font-weight: bold;
    font-size: 2em;
}

.texto-main{
    position: absolute;
    top: 80px;
    right: 55px;
    width: 300px;
    text-align: justify;
    font-size: 20px;
}

em{
  font-style: italic;  
}

.texto-main p{
    margin-top: 1em;
    text-transform: initial;
}

#missao{
    font-size: 20px
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens{
    font-style: italic;
}

.beneficios{
    background: #ffffff;
    padding: 20px;
}

.imgbeneficios{
    width: 50%;
}

footer{
    text-align: center;
    background: url(img/bg.jpg);
    padding: 40px;
}

.copyright{
    color: #ffffff;
    font-size: 13px;
    margin: 20px;
}