body{
    
}

#banner{
    width: 100%;
}

.principal{
    background: #cccccc;
    padding: 30px;
}

p{
    text-align: center;
}

#missao{
    font-size: 20px
}

h1{
    text-align: center;
}

em strong{
    color: red;
}

h2{
    text-align: center;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens{
    font-style: italic;
}

.beneficios{
    background: #ffffff;
    padding: 20px;
}

.imgbeneficios{
    width: 50%;
}